// COLORES
$vino: #6a1431;
$turquesa: #136070;
$beige: #f4d8d4;
$html: #d74d27;
$css: #3799d6;
$sass: #d48ca4;
$bootstrap: #533b77;
$git: #f05030;
$github: #212429;
$java: #e8d44d;
$vue: #66c293;



// fuentes
$style-font: "Style Script", cursive;
$varela-font:"Varela", sans-serif;

//PESOS FUENTES
$font-thin: 300;
$font-medium: 500;
$font-bold: 800;

//TAMAÑO FUENTES
$fsmedium: 16px;
$fslarge: 18px;
$fsxlarge: 30px;
$fsxxlarge: 40px;
$fsxxxlarge: 70px;

//SPACING
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;
$sp6: 50px;
